/* :root {
    --contenido: "asd"
} */

.Contenedor{
    width: 80%;
    max-height: 80vh;
    margin-left: 10%;
    margin-top: 3vh;
}

.Contenedor .accionesLinea{
    display: flex;
    justify-content: space-between;
    height: 7vh;
    margin-bottom: 2%;
}

.Contenedor .accionesLinea .btnEvento{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 15px;
    width: 18%;
    background-color: #FFF;
    padding: 0px 5px;
}

.Contenedor .accionesLinea .btnEvento:hover{
    cursor: pointer;
}

.Contenedor .accionesLinea .btnEvento i{
    font-size: 20px;
    font-weight: 500;
}

.Contenedor .accionesLinea .btnEvento p{
    font-size: 20px;
    font-weight: 500;
    color: #163C79;
}

.Contenedor .accionesLinea .masOpciones{
    display: flex;
    justify-content: right;
    font-size: 30px;
    width: 10%;
    background-color: transparent;
    border: none;
}

.Contenedor .accionesLinea .masOpciones i:hover{
    cursor: pointer;
}

.Eventos {
    /* margin-top: 2.5vh; */
    height: 75vh;
    background: rgba(22, 60, 121, 0.12);
    font-family: "Nunito", sans-serif;
    text-align: center;
    /* overflow-y: scroll; */
    display: flex;
    justify-content: space-around;
}

.Eventos .Vertical{
    width: 80%;
    margin-top: 1.5%;
}

.Eventos .Horizontal{
    width: 80%;
    margin-top: 5%;
    /* margin-left: 5%; */
}

.css-bqtt3d-TimelineContentRender{
    margin-top: 3%;
}

.css-1tk7o9j-TimelineCardTitle{
    display: flex;
    justify-content: center;
    /* grid-column-gap: 20px; */
}

.css-1tk7o9j-TimelineCardTitle a{
    text-decoration: none;
    color: #163C79;
}

/* .css-1tk7o9j-TimelineCardTitle::after{
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    content: "\f35d";
}

.css-1tk7o9j-TimelineCardTitle:hover{
    cursor: pointer;
} */

.Eventos .modo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7vh;
    margin-top: 1.5%;
    border-radius: 15%;
    background-color: #163C79;
    color: #FFF;
}

.Eventos .modo:hover{
    cursor: pointer;
}

.Eventos .modo button{
    color: #FFF;
    border: none;
    background-color: transparent;
}

.Eventos .modo button{
    cursor: pointer;
}

/* PARA MODAL EVENTO */
.modalAgregarEvento{
    background: rgba(22, 60, 121, 0.3);
    position: fixed;
    z-index: 100;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 100%;
    /* z-index: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalAgregarEvento .contenedorFormModal{
    background: #FFF;
    padding: 25px;
    border-radius: 15px;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .tituloForm{
    text-align: center;
    color: #163C79;
    font-size: 25px;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoForm{
    width: 100%;
    margin-left: 5%;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoForm .datosFila{
    display: block;
    width: 100%;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoBotones{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoBotones button{
    padding: 10px 15px;
    font-size: 15px;
    width: 30%;
    border-radius: 10px;
    border: none;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoBotones button:hover{
    cursor: pointer;
    transition-duration: 0.5s;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoBotones .btnRegistrar{
    background-color: #163C79;
    color: #FFF;
}

.modalAgregarEvento .contenedorFormModal .formularioDatosEvento .contenidoBotones .btnCancelar{
    background-color: rgba(22, 60, 121, 0.12);
    color: #000;
}

/* @media screen and (max-width: 1200px) {
    .Contenedor{
        width: 90%;
        margin-left: 5%;
    }
}

.hola:hover{
    cursor: pointer;
} */