.formThemes{
    background:#f4f4f4;
    width: 90%;
    margin-top: 10px;
    border-radius: 15px;
    padding-top: 20px;
    height: 65vh;
    overflow-y: scroll;
    margin-left: 11px;
}
h3{
    text-align: center;
	/* color: #FFF */
}
.temas {
	/* display: flex;
	flex-wrap: wrap; */
	/* justify-content: center; */
	/* gap: 20px; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 15px;
	padding: 5px 90px;

	/* justify-content: space-around; */
	/* border-radius: 10px; */
	/* border-radius: 10px; */
}
.tema {
	/* background-color: #fff; */
	/* background-color: #dbdbdb; */
	/* background-color: #f4f4f4; */
	background-color: #dbdbdb;
	/* background-color: #61DAFB; */
	/* padding: 5px;
	margin: 5px; */
	/* border-radius: 30px; */
	/* border-radius: 20px; */
	margin-bottom: 10px;
	/* border: 5px; */
	/* border-radius: 10px; */
	/* width: 32%; */
	/* border-radius: 20px; */
	/* box-shadow: 6px 2px 9px 1px rgba(197, 197, 197, 0.459); */
}
.tema .tema-info {
	margin-top: 10px;
	margin-bottom: 10px;	
}
.tema .tema_info p{
	margin-left: 3%;
	font-weight: 300;
}
.tema h3 {
	font-size: 21px;
	font-weight: 300;
	background-color: #dbdbdb;
	/* background-color: #f4f4f4; */
	/* background-color:#73D3CF ; */
	/* background-color: #FFF; */
	border-bottom: 3px solid #32363E;
	padding: 5px;
	margin-bottom: 10px;
}
.tema_info .btn_eliminar button{
	border:none;
	background-color: #dbdbdb;
	/* background-color: #61DAFB; */

	/* background-color: #35495e; */
}
.tema_info .btn_eliminar i{
	/* color:#fff; */
	/* color: #61dafb; */
	color: #32363E;
	cursor: pointer;
	font-size: 15px;
}
.tema_info .btn_eliminar i:hover{
	/* color: red; */
	color: #FFF;
}
.tema_info .btn_editar i{
	/* color: #fffF; */
	color: #32363E;
	font-size: 15px;
}
.tema_info .btn_editar i:hover{
	/* color: #41b883; */
	color: #FFF;
}
.tema_info .btn_vermas i{
	/* color:#fff; */
	color: #32363E;
	cursor: pointer;
	font-size: 15px;
}
.tema_info .btn_vermas i:hover{
	/* color: #73D3CF; */
	color: #FFF;
}  
.formularioModal{
    padding-left: 30px
}
.formularioModal label{
    color:#000;
    font-weight: bold;
}
input, textarea{
    border: 2px solid #222222;
    padding: 8px;
    border-radius: 10px;
    width: 90%;
    display: block;
    margin-bottom: 17px;
    background-color: #ffffff ;
    margin-top: 13px;
    border: 2px solid #000;
    color:#000;
    font-size: 15px;
                
}
.enviarThemes{
    width: 90%;
    border: 2px solid #20B2AA;
    padding: 6px;
    border-radius: 4px;
    display: block;
    margin-bottom: 17px;
    background-color: #ffffff ;
    margin-top: 10px;
	background-color:#20B2AA;
    font-size: 18px;
}
.enviarThemes:hover{
	background-color:#20B2AA;
    cursor: pointer;
    color:#fff
}
.barra_btn{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
	/* background-color: #35495e; */
	/* background-color: #dbdbdb; */
	background-color: #61DAFB;

    padding: 5px;
}
.iconos_btn{
    display: flex;
    gap: 15px;
}
.AgregarYBuscar{
	display: flex;
	padding: 10px 90px;
	justify-content: space-between;
}
.btnAgregarTema{
	display: flex;
	/* margin: auto; */
	/* gap: 10px; */
	
}
.AgregarTema{
	display: flex;
	gap: 10px;
	margin: auto;
	border: 2px solid #aba7a7;
	
}
.AgregarTema p{
	font-size: 20px;
}
.AgregarTema i{
	font-size: 20px;
}
.btnBuscarTema{
	display: flex;
	width: 30%;
	border: 2px solid #aba7a7;
	border-radius: 2px;
	/* padding: 2px 0; */
}

.btnBuscarTema i{
	margin: auto;
}

.btnBuscarTema .buscarTema{
	border-style: none;
	outline: 0;
	/* text-transform: uppercase; */
}

@media screen and (max-width: 900px) {
	.temas{
		background-color: #32363E;
		/* padding: 10px; */
	}
	.temas{
		grid-template-columns: repeat(1, 1fr);
		padding: 0 20px;
	}
	.tema{
		width: 48%;
	}
    .tema{
		width: 100%;
	}
	.tema h3 {
		font-size: 19px;
	}
	.tema .tema_info p{
		font-size: 17px;
	}
    .tema h3 {
		font-size: 18px;
	}
	.AgregarYBuscar{
		padding: 10px 20px;
	}
}



/* style={{display:'flex',border:'2px solid #aba7a7', borderRadius: '10px', padding:'2px 0', width:'40%'}} */
/* style={{borderStyle:'none', fontFamily:'Poppins', fontWeight:'700', outline:'0', width:'50%', textTransform:'uppercase'}} */